.js-exists {

  .anim-masked {
    mask-image: linear-gradient(90deg, #fff 33.33%, transparent 66.66%);
    mask-position: 100% 0;
    mask-size: 300% 100%;
    will-change: mask-position;
    animation-duration: 2s;
    animation-timing-function: ease;
  }

  .anim-masked-mask {
    animation: anim-mask 2s ease;
  }

  .anim-masked.animated {
    mask-position: 0 0;
  }

  @keyframes anim-mask {
    0% {
      mask-position: 100% 0;
    }

    100% {
      mask-position: 0 0;
    }
  }

  .anim-cliped {
    clip-path: circle(0 at 50% 50%);
    will-change: clip-path;
    animation-duration: 2s;
    animation-timing-function: ease;
  }

  .anim-cliped-anim {
    animation: clip-circle 2s ease;
  }

  .anim-cliped.animated {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    ;
  }


  @keyframes clip-circle {
    0% {
      clip-path: circle(0 at 50% 50%);
    }

    100% {
      clip-path: circle(100% at 50% 50%);
    }
  }


  .anim-popup {
    will-change: transform;
    animation-duration: 2s;
    animation-timing-function: ease;
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }

  .anim-popup-anim {
    animation: popup 2s ease;
  }

  .anim-popup.animated {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }


  @keyframes popup {
    0% {
      transform: translate3d(0, 10%, 0);
      opacity: 0;
    }

    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }


  .anim-popdown {
    will-change: transform;
    animation-duration: 2s;
    animation-timing-function: ease;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
  }

  .anim-podown-anim {
    animation: popdown 1s ease;
  }

  .anim-popdown.animated {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }


  @keyframes popdown {
    0% {
      transform: translate3d(0, -50%, 0);
      opacity: 0;
    }

    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}

[data-parallax] {
  transition: transform 0.3s;
}