.h1 {
  margin: 0;
  font-size: var(--size-24-50);
  font-family: var(--igra);
  line-height: 1.2;
  font-weight: 400;

  span {
    color: var(--top_blue);
  }
}

.h2 {
  margin: 0;
  font-size: var(--size-24-70);
  font-family: var(--igra);
  line-height: 1.2;
  font-weight: 400;

  span {
    color: var(--top_blue);
  }
}

.h3 {
  margin: 0;
  font-family: var(--igra);
  font-size: var(--size-24-40);
  font-weight: 400;
  line-height: 1.2;

  span {
    color: var(--top_blue);
  }

}

@media (min-width: $desktop) {

  .h3--arr {
    max-width: calc(100% - 300px);
  }
}