.text {
  p {
    margin-block: 20px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    margin-top: var(--size-20-40);
    margin-bottom: 20px;
    font-size: var(--size-20-30);
    font-weight: 400;
  }

  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    li {
      position: relative;
      margin-block: 20px;
      break-inside: avoid;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &>li {
      padding-left: 30px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 8px;
        height: 8px;
        background-color: var(--top_blue);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
      }
    }
  }

  img {
    border-radius: var(--size-30-40);
    margin-bottom: 20px;
  }

  h2 {
    margin-top: var(--size-30-60);
    margin-bottom: 20px;
    font-size: var(--size-20-40);
    font-weight: 400;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    margin: var(--size-20-40) 0;
    padding: 34px 0 0 56px;
    font-style: italic;
    color: var(--turquoise);
    background-size: 218px 157px;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='228' height='164' fill='none' viewBox='0 0 228 164'%3E%3Cpath stroke='%2359808c' stroke-opacity='.1' stroke-width='7' d='M76.167 77.844q8.385 5.541 13.042 14.777 5.124 8.773 5.124 19.855 0 21.241-13.974 34.633-13.974 13.39-34.47 13.391-18.633 0-30.744-11.544Q3.5 137.412 3.5 118.941q0-9.697 3.26-18.47 3.727-8.775 12.578-22.627L65.918 3.5h45.65zm109.931 0q8.385 5.541 13.043 14.777 5.124 8.773 5.124 19.855 0 21.241-13.974 34.633-13.976 13.39-34.47 13.391-18.633 0-30.744-11.544-11.645-11.544-11.645-30.015 0-9.697 3.26-18.47 3.727-8.775 12.577-22.627L175.85 3.5h45.65z'/%3E%3C/svg%3E");

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      font-size: var(--size-16-20);
    }


  }
}

@media (min-width: $tablet) {
  .text {
    img {
      float: left;
      max-width: 50%;
      margin-right: 20px;
    }
  }

  .text--colls {
    columns: 2;
    gap: 20px;
  }
}

@media (min-width: $container) {
  .text {
    img {
      margin-right: 60px;
    }

    ul>li::before {
      top: 8px;
    }
  }



  .text--colls {
    gap: 60px;
  }
}