.video {
  position: relative;
  // aspect-ratio: 16/9;
  border-radius: 15px;
  overflow: hidden;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  video {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  .video-btn {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover .video-btn {
    opacity: 1;
  }
}

.btn__pause {
  display: none;
}

.video.active {
  .btn__pause {
    display: flex;
  }

  .btn__play {
    display: none;
  }
}

.circle-spin-3 {
  --size: 50px;
  --stroke-width: calc(var(--size) / 6);
  --color: var(--top_blue);
  --animation-timing-function: linear;
  --animation-duration: 1s;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  background-color: transparent;
  width: var(--size);
  height: var(--size);
  border-width: var(--stroke-width);
  border-style: solid;
  border-color: var(--color) transparent var(--color) transparent;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: var(--animation-timing-function) var(--animation-duration) infinite circle-spin-3-animation;
}

@keyframes circle-spin-3-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}