.idea/
.osp/
sitemaps/
cache/
vendor/
pma/
/log/
upload/
../old_docker/docker/
data/config/
../old_docker/docker-compose.yaml
composer.lock
composer.phar
.htaccess
adm/.htaccess
robots.txt
sitemap.xml
docker-compose.yaml
docker/
html/
favicon-*.ico